<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>아이템 목록입니다.</h3>
<a th:href="@{/item/add}">아이템 추가하기</a>

<table>
    <tr>
        <th th:text="#{label.item.id}">id</th>
        <th th:text="#{label.item.itemName}">itemName</th>
        <th th:text="#{label.item.price}">price</th>
        <th th:text="#{label.item.quantity}">quantity</th>
        <th>판매 여부</th>
        <th>판매 지역</th>
        <th>Item type</th>
        <th>Delivery code</th>
        <th>아이템 상세</th>
    </tr>
    <tr th:each="item : ${data}">
        <td th:text="${item.id}">id</td>
        <td th:text="${item.itemName}">itemName</td>
        <td th:text="${item.price}">price</td>
        <td th:text="${item.quantity}">quantity</td>
        <td th:text="${item.open}">open</td>
        <td th:text="${item.regions}">regions</td>
        <td th:text="${item.itemType}">itemType</td>
        <td th:text="${item.deliveryCode}">itemType</td>
        <td><a th:href="@{/item/{itemId}(itemId=${item.id})}">아이템 상세</a></td>
    </tr>
</table>

</body>
</html>