<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">


</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>어서오세요. 딱구의 구멍가게입니다.</h2>
    </div>

    <!--<li><a th:href="@{/items}">아이템 목록</a> </li>-->

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" type="button"
                    th:onclick="|location.href='@{/members/add}'|">회원 가입</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-dark btn-lg" type="button"
                    th:onclick="|location.href='@{/login}'|">로그인</button>
        </div>
    </div>
</div>


</body>
</html>